<dialog id="file-info-dialog">
    <h1 class="file-title">Undefined</h1>
    <hr>

    <div class="content">
        <p>Size: <span class="file-size">N/A</span> bytes</p>
        <p>Last Modified: <span class="file-last-modified">N/A</span></p>
    </div>

    <div class="button-group">
        <button id="rename-file-button">Rename</button>
        <button>Download</button>
        <button id="share-file-button">Share</button>
    </div>

    <button id="file-info-close-button" class="close-dialog">X</button>
</dialog>