<nav>
    <h1>SkyShare</h1>
    <ul class="navbar-item-group">
        <li class="navbar-item"><a href="/">Log In</a></li>
        <li class="navbar-item"><a href="/signup">Sign Up</a></li>
    </ul>
</nav>