<nav>
    <a href="/"><h1>SkyShare</h1></a>
    <ul class="navbar-item-group">
        <a href="/"><li class="navbar-item">Log In</li></a>
        <a href="/signup"><li class="navbar-item">Sign Up</li></a>
    </ul>
</nav>