<dialog id="rename-file-dialog">
    <form action="undefined" method="post">
        <label for="new-name-file">Rename <span class="file-name">undefined</span></label>
        <input type="text" name="newNameFile" id="new-name-file" placeholder="Enter the new name">
        <div class="button-group">
            <button type="submit">Submit</button>
        </div>
        <button id="rename-file-close-button" class="close-dialog">X</button>
    </form>
</dialog>
