<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>SkyShare</title>
</head>
<body>
    <%- include('components/navbar') %>

    <% switch (page) { 
        case 'login': %> 
            <%- include('pages/Login') %>
            <% break; 
        case 'signup': %>
            <%- include('pages/Signup') %>
            <% break; 
        case 'cloud': %>
            <%- include('pages/Cloud', {files, folders, directories}) %>
            <% break;
    } %>
</body>
</html>