:root {
  --primary-color: #070f2b;
  --secondary-color: #1b1a55;
  --tertiary-color: #535c91;
  --accent-color: #9290c3;
  --text-color: white;
  --default-box-shadow-value: rgba(255, 255, 255, 0.2) 2.5px 2.5px 2.6px 2px;
  --default-border-radius: 16px;
  --default-font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--primary-color);
  font-family: var(--default-font-family);
  color: var(--text-color);
  min-height: 100vh;
}

dialog {
  margin: auto;
  border: none;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow-value);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
  /* Edge */
  font-family: var(--default-font-family);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: var(--default-font-family);
}

::placeholder {
  font-family: var(--default-font-family);
}

button {
  font-family: var(--default-font-family);
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
}

.container-header {
  margin-top: 16px;
  margin-bottom: 32px;
}

.svg-icon {
  filter: invert(32%) sepia(5%) saturate(4609%) hue-rotate(194deg)
    brightness(106%) contrast(85%);
  width: 2rem;
  height: auto;
}

nav {
  padding: 1rem;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
}

.navbar-item-group {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
}

.navbar-item {
  padding: 0.5rem 1rem;
  border-radius: var(--default-border-radius);
}

.navbar-item:hover {
  background-color: var(--accent-color);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

form > * {
  display: block;
}

input {
  width: 100%;
  border: 1px solid var(--accent-color);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: var(--default-border-radius);
}

input:focus {
  border: 1px solid gold;
}

button[type="submit"] {
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 12px;
  margin: 1rem auto 0;
  background-color: var(--accent-color);
}

.login-container,
.signup-container {
  width: min(20rem, 100%);
  background-color: var(--tertiary-color);
  margin: auto;
  box-shadow: var(--default-box-shadow-value);
  border-radius: 16px;
  padding: 1rem;
}

.login-footer {
  margin-top: 1rem;
}

.login-footer a {
  color: var(--secondary-color);
}

.subheader-container {
  background-color: var(--tertiary-color);
  padding: 0.5rem 1rem;
}

.subheader-container > div {
  text-align: start;
}

.subheader-container div > span {
  font-weight: 1000;
}

.subheader-container a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.25rem;
}

.subheader-container a:hover {
  color: var(--accent-color);
}

.subheader-container > div {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  gap: 16px;
}

.button-group button {
  border-radius: var(--default-border-radius);
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.files-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 1rem 0;
  text-align: start;
}

.cell {
  border: 2px solid var(--accent-color);
  padding: 2rem 1rem;
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow-value);
  cursor: pointer;
  display: flex;
  gap: 16px;
}

.cell > .image {
  border-radius: var(--default-border-radius);
  width: 25%;
  height: 100%;
  background-color: grey;
}

.new-folder-dialog,
.upload-file-dialog {
  position: relative;
}

.close-dialog {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: none;
}
