<div class="subheader-container">
    <div class="">
        <div class="breadcrumbs">
            <a href="/" class="directory">Photos</a> <span>></span>
            <a href="/" class="directory">Images</a> <span>></span>
            <a href="/" class="directory">Family</a>
        </div>
        <div class="button-group">
            <button>New Folder</button>
            <button>Upload File</button>
        </div>
    </div>
</div>

<div class="container files-container">
    <div class="cell"><div class="image"></div>Folder 1</div>
    <div class="cell"><div class="image"></div>Folder 2</div>
    <div class="cell"><div class="image"></div>Folder 3</div>
    <div class="cell"><div class="image"></div>Folder 4</div>
    <div class="cell"><div class="image"></div>Folder 5</div>
    <div class="cell"><div class="image"></div>Folder 6</div>
    <div class="cell"><div class="image"></div>Folder 7</div>
    <div class="cell"><div class="image"></div>Folder 8</div>
</div>