<dialog id="new-folder-dialog">
    <form action="/cloud/new-folder" method="post">
        <input type="hidden" name="userId" value="<%= currentUser.id %>">
        <label for="new-folder">Name The New Folder</label>
        <input type="text" name="newFolder" id="new-folder">
        <div class="button-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <button id="new-folder-close-button" class="close-dialog">X</button>
</dialog>

<dialog id="upload-file-dialog">
    <form action="/cloud/upload-file" method="post" enctype="multipart/form-data">
        <input type="hidden" name="userId" value="<%= currentUser.id %>">
        <label for="upload-file">Upload The File</label>
        <input type="file" name="uploadFile" id="upload-file">
        <div class="button-group">
            <button type="submit">Submit</button>
        </div>
    </form>
    <button id="upload-file-close-button" class="close-dialog">X</button>
</dialog>

<div class="subheader-container">
    <div>
        <div class="breadcrumbs">
            <a href="/" class="directory">Photos</a> <span>></span>
            <a href="/" class="directory">Images</a> <span>></span>
            <a href="/" class="directory">Family</a>
        </div>
        <div class="button-group">
            <button id="new-folder-button">New Folder</button>
            <button id="upload-file-button">Upload File</button>
        </div>
    </div>
</div>

<div class="container files-container">
    <div class="cell"><div class="image"></div>Folder 1</div>
    <div class="cell"><div class="image"></div>Folder 2</div>
    <div class="cell"><div class="image"></div>Folder 3</div>
    <div class="cell"><div class="image"></div>Folder 4</div>
    <div class="cell"><div class="image"></div>Folder 5</div>
    <div class="cell"><div class="image"></div>Folder 6</div>
    <div class="cell"><div class="image"></div>Folder 7</div>
    <div class="cell"><div class="image"></div>Folder 8</div>
</div>

<script type="module" src="/js/scripts.js" defer></script>